In [1]:
import dstack as ds
import plotly.express as px

In [2]:
# an utility function that loads the data
def get_data():
    return px.data.stocks()

In [3]:
get_data()

           date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0    2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1    2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2    2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3    2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4    2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708
..          ...       ...       ...       ...       ...       ...       ...
100  2019-12-02  1.216280  1.546914  1.425061  1.075997  1.463641  1.720717
101  2019-12-09  1.222821  1.572286  1.432660  1.038855  1.421496  1.752239
102  2019-12-16  1.224418  1.596800  1.453455  1.104094  1.604362  1.784896
103  2019-12-23  1.226504  1.656000  1.521226  1.113728  1.567170  1.802472
104  2019-12-30  1.213014  1.678000  1.503360  1.098475  1.540883  1.788185

[105 rows x 7 columns]

In [4]:
get_data().columns[1:].tolist()

['GOOG', 'AAPL', 'AMZN', 'FB', 'NFLX', 'MSFT']

In [5]:
app = ds.app()  # create an instance of the application

# a drop-down control that shows stock symbols
stock = app.select(items=get_data().columns[1:].tolist())

# a handler that updates the plot based on the selected stock
def output_handler(self, stock):
    # a plotly line chart where the X axis is date and Y is the stock's price
    self.data = px.line(get_data(), x='date', y=stock.value())

# a plotly chart output
app.output(handler=output_handler, depends=[stock])

Output(id=142836c4-b780-450d-8a08-b43e5d3bbd59)

In [6]:
# deploy the application with the name "stocks" and print its URL
app.deploy("stocks")

http://localhost:8080/dstack/stocks